* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #0a1f44;
}

.services-section {
  padding: 100px 0;
}

.services-section h2 {
  font-size: 50px;
  margin-bottom: 40px;
  color: #fff;
  text-align: center;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 25px;
}
.service-card {
  background: #1e3c72;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 25px;
  height: 300px;
  width: 300px;
  text-align: center;
  cursor: pointer;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-card i {
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
}

.service-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
}

.service-card p {
  font-size: 17px;
  color: #cfcfcf;
}
